*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: auto;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("img/background.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    /* display: flex; */
    width: 400px;
    height: 400px;
    padding: 30px;
    background: transparent;
    border: 2px solid #ace;
    border-radius: 10px;
    backdrop-filter: blur(15px);
}

h1{
    color: #eee;
    text-align: center;
    margin-bottom: 36px;
}

.input-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.todo-input{
    flex: 1;
    outline: none;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #ace;
    border-radius: 30px;
    color: #ace;
    margin: 10px;
    font-size: 18px;
}

.todo-input::placeholder{
    color: #bfbfbf;
}

.add-button{
    background: #ace;
    border: none;
    outline: none;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.empty-image{
    margin: 55px auto 0;
    display: block;
}