/* Universal selector to reset margins and paddings */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("img/background.jpg") no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* Container styling */
.container {
    width: 90%;
    max-width: 400px;
    min-height: 400px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1); /* Slight transparency */
    border: 2px solid #ace;
    border-radius: 10px;
    backdrop-filter: blur(15px);
}

/* Header styling */
h1 {
    color: #eee;
    text-align: center;
    margin-bottom: 36px;
}

/* Input container styling */
.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.todo-input {
    flex: 1;
    outline: none;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #ace;
    border-radius: 30px;
    color: #ace;
    margin: 10px;
    font-size: 18px;
}

.todo-input::placeholder {
    color: #bfbfbf;
}

/* Add button styling */
.add-button {
    background: #ace;
    border: none;
    outline: none;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    margin-top: 8px; /* Adjust this value as needed */
}

.empty-image {
    margin: 55px auto 0;
    display: block;
}

/* Todo item styling */
.todo {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    background-color: #463c7b;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 12px;
    border: 2px solid #e6b7eca1;
    transition: all 0.2s ease;
}

.todo:hover {
    background-color: #e6b7eca1;
}

.todo label {
    display: flex;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #eee;
    cursor: pointer;
}

.todo span {
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

span::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: -30px;
    border-radius: 100px;
    border: 2px solid #e6b7eca1;
}

input[type='checkbox'] {
    visibility: hidden;
}

input:checked + span {
    text-decoration: line-through;
}

input:checked + span::before {
    background: url(img/check.png) 50% 50% no-repeat #09bb22;
    border-color: #09bb22;
}

.todo:hover span::before {
    border-color: #eee;
}

.todo .delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #eee;
    font-size: 24px;
}

/* Scrollbar styling for WebKit browsers */
.todos-container {
    height: 300px;
    overflow: auto;
}

.todos-container::-webkit-scrollbar-track {
    background: rgb(247, 247, 247);
    border-radius: 20px;
}

.todos-container::-webkit-scrollbar {
    width: 0;
}

.todos-container:hover::-webkit-scrollbar {
    width: 7px;
}

.todos-container::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 20px;
}

/* Filters and delete all buttons styling */
.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.filter {
    color: #112233;
    background-color: #e6b7eca1;
    padding: 5px 15px;
    border-radius: 100px;
    border: 2px solid #e6b7eca1;
    transition: all 0.2s ease;
    cursor: pointer;
}

.filter.active, .filter:hover {
    background-color: #e6b7;
}

.delete-all {
    color: #112233;
    background-color: #e6b7eca1;
    padding: 7px 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.delete-all:hover {
    border-radius: 5px;
    background-color: #e6b7;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 20px;
    }

    .todo-input {
        margin: 5px;
        font-size: 16px;
    }

    .add-button {
        font-size: 28px;
        width: 36px;
        height: 36px;
    }
}
